@model List<Course>

@section Header{
    @await Html.PartialAsync("_Header")
}

<div class="row">
    @foreach (var kurs in Model)
    {
        @if(kurs.isActive && kurs.isHome)
        {
           @await Html.PartialAsync("_Home",kurs)
        }
    }
</div>
