@model Course;
<div class="container pb-3">
        <main>
            <h1>Course Html</h1>
            <p>id:@Model.Id</p>
            <p>title:@Model.Title</p>
            <p>description:@Model.Description</p>
        </main>
    
    </div>